{{template "head"}}

<body>
    {{template "navbar"}}
    <section class="section">
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title">Register</h2>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <form id="register" method="POST">
                        <div class="field">
                            <label class="label">Profile Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="name" id="name" placeholder="Gianni Infantino" value="Gianni Infantino">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-id-card"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="email" id="email"
                                    placeholder="infantino@fifa.com" value="infantino@fifa.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="password" name="password" id="password"
                                    placeholder="corruption" value="corruption">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Confirm</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="password" name="confirm" id="confirm"
                                    placeholder="corruption" value="corruption">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-circle-check"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button type="submit" class="button is-success">
                                    Register
                                </button>
                            </p>
                        </div>
                        <input type="hidden" id="csrf" value="{{.csrf}}" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{{template "messenger" .}}
</html>
